a {
color: #000;
text-decoration: none;
}

#header {
    text-align: center;  
    padding: 60px 0;
}

#header a {
    font-size: 40px;
    color: #000;
    text-decoration: none;
    /* 인라인요소 공간을 독립적으로 갖지 않음 */
}

ul {
    list-style: none;
    /* 주황색 영역 패딩값 리셋 */
    padding:0;
}

#nav ul li {
    display: inline-block;    
}
#nav ul.menus {
 float: left;
}
#nav ul.icons {
    float: right;
}
#main .featured header h2 {
 text-align: center;
 padding: 70px 50px 0; /* 하단패딩 안먹음 */   
}

#footer {
    display: flex;
}

#footer .content, #footer .info {
    flex: 1;
}

#footer .contact .inputs {padding:10px;}
#footer .contact .inputs label {}
#footer .contact .inputs input {
width: 100%; height: 20px;
/* border: solid 단선 3px 굵기 #000;  */
border: solid 3px grey;
box-sizing: border-box;
margin: 0 0 30px 0;
padding: 15px 10px;
}
#footer .contact .inputs textarea {
box-sizing: border-box;
width:100%;
border: solid 3px gray;
margin-bottom: 30px;
}

#footer .contact .submit input {
border: solid 3px #333;
background-color: rgb(255,255,255);
padding: 15px 20px;
margin-left: 10px;
}

#footer .info section {
     display: flex;
}
#footer .info section h3 {
    flex:0.5; margin-left: 10%;

}
#footer .info section p {
    flex:2;
    line-height: 2;
}
#footer .info section ul {
    flex:2;
}
#copyright {
    background-color: rgb(33,33,33);
    padding:20px;
    text-align: center;
}

